.welcome{
    background-color: #F5F5F5
}

.welcome h2{
    padding: 15px 0px 0px 0px;
    color: #828282
}

.welcome h5{
    padding: 0px 0px 15px 0px;
    color: #646464
}

#content{
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

#d-block{
    width: 90%;
    height: 100%;
}