.Slide-infor{
    margin-top:5px;
}

.maininfor{
    text-align: center;
}

.welcome{
    height: auto;
    background-color: rgb(245, 245, 245);
}

.welcome h2{
    padding: 15px 0px 0px 0px;
    color: rgb(130,130,130);
}

.welcome h4{
    padding: 0px 0px 15px 0px;
    color: rgb(100,100,100);
}


.disappear{
	display:none;
}

#content{
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

#d-block{
    width: 90%;
    height: 100%;
}